extends layout

block head
  title iojs.jp blog
  link(href='/index.css', rel='stylesheet', type='text/css')

block body
  header
    img.logo(src='/logo.png')
    h1 iojs.jp blog
  article
    section
      h1 ヘッドライン
      a(href='#{headline.url}')
        h2 #{headline.title}
      p #{headline.description}
    section
      h1 最近の記事
      each content in contents
        a(href='#{content.url}')
          h2 #{content.title}
        p #{content.description}
